@charset "UTF-8";

/* CSS rules go below */

body.light-mode{
	color:rgba(0,0,0,0.9);
	background-color:rgba(255,255,255,0.9);
}

body.dark-mode{
	color:rgba(255,255,255,0.9);
	background-color:rgba(0,0,0,0.9);
}

/* is light mode */


/* is dark mode */


/* is closed */

nav.menu.modal-is-closed span.btn-modal-text-close{
	display: none;
}

nav.menu.modal-is-closed span.btn-modal-text-open{
	display: block;
}

nav.menu.modal-is-closed div.modal{
	display:none;
}

/* is opened */

nav.menu.modal-is-open span.btn-modal-text-close{
	display: block;
}

nav.menu.modal-is-open span.btn-modal-text-open{
	display: none;
}

nav.menu.modal-is-open div.modal{
	display:block;
}

/* general styling */

div.container{
	padding:5rem;
}


